In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math

# custom services 
from data_validation_service import data_validation_service

In [2]:
data = pd.read_csv('train_data.csv')
data_labels = pd.read_csv('train_labels.csv')

### DATA EXPLORATION

In [3]:
data.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [4]:
data_labels.head()

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [5]:
#what does one user look like in this database
cust_one_data = data[data['customer_ID'] == '0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a']

In [6]:
cust_one_data

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827
5,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-08-04,0.945964,0.001746,0.007863,1.005006,0.004220,0.110946,0.009857,0.009866,...,NaN,NaN,NaN,0.001924,0.008598,0.004529,NaN,0.000674,0.002223,0.002884
6,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-09-18,0.940705,0.002183,0.018859,1.008024,0.004509,0.103329,0.006603,0.000783,...,NaN,NaN,NaN,0.001336,0.004361,0.009387,NaN,0.007727,0.007661,0.002225
7,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-10-08,0.914767,0.003029,0.014324,1.000242,0.000263,0.108115,0.009527,0.007836,...,NaN,NaN,NaN,0.002397,0.008452,0.005553,NaN,0.001831,0.009616,0.007385
8,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-11-20,0.950845,0.009896,0.016888,1.003995,0.001789,0.102792,0.002519,0.009817,...,NaN,NaN,NaN,0.009742,0.003968,0.007945,NaN,0.008722,0.004369,0.000995
9,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-12-04,0.868580,0.001082,0.001930,1.007504,0.001772,0.100470,0.004626,0.006073,...,NaN,NaN,NaN,0.003611,0.009607,0.007266,NaN,0.008763,0.004753,0.009068
10,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-01-11,0.909811,0.005715,0.002829,1.004798,0.008175,0.098882,0.001853,0.003238,...,NaN,NaN,NaN,0.000427,0.004594,0.003613,NaN,0.007568,0.003004,0.006362
11,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-02-21,0.937349,0.002425,0.019837,1.008307,0.000607,0.102985,0.006174,0.007454,...,NaN,NaN,NaN,0.001563,0.001976,0.002569,NaN,0.001098,0.006346,0.004204
12,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.934745,0.009119,0.009382,1.007647,0.006104,0.135021,0.001604,0.007174,...,NaN,NaN,NaN,0.007186,0.004234,0.005086,NaN,0.005810,0.002970,0.008533

### DATA TRANSFORMATION

In [7]:
cat_features = ["B_30","B_38","D_114","D_116","D_117","D_120","D_126","D_63","D_64","D_66","D_68"]
num_features = [col for col in data.columns if col not in cat_features]

In [9]:
train_num_agg = data.groupby("customer_ID")[num_features].agg(['mean', 'std', 'min', 'max', 'last'])
train_num_agg.columns = ['_'.join(x) for x in train_num_agg.columns]
train_num_agg.reset_index(inplace = True)

In [10]:
train_cat_agg = data.groupby("customer_ID")[cat_features].agg(['count', 'last', 'nunique'])
train_cat_agg.columns = ['_'.join(x) for x in train_cat_agg.columns]
train_cat_agg.reset_index(inplace = True)

In [12]:
data_transformed = train_num_agg.merge(train_cat_agg, how = 'inner', on = 'customer_ID')

In [13]:
data_transformed

,customer_ID,P_2_mean,P_2_std,P_2_min,P_2_max,P_2_last,D_39_mean,D_39_std,D_39_min,D_39_max,...,D_63_nunique,D_64_count,D_64_last,D_64_nunique,D_66_count,D_66_last,D_66_nunique,D_68_count,D_68_last,D_68_nunique
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.933824,0.024194,0.868580,0.960384,0.934745,0.010704,0.024444,0.001082,0.091505,...,1,13,O,1,0,NaN,0,13,6.0,1
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.899820,0.022119,0.861109,0.929122,0.880519,0.215205,0.199150,0.002224,0.567403,...,1,13,O,1,0,NaN,0,13,6.0,1
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,0.878454,0.028911,0.797670,0.904482,0.880875,0.004181,0.002758,0.000802,0.009704,...,1,13,R,1,0,NaN,0,13,6.0,1
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,0.598969,0.020108,0.567442,0.623392,0.621776,0.048862,0.088466,0.000660,0.268476,...,1,13,O,1,0,NaN,0,13,3.0,3
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,0.891679,0.042325,0.805045,0.940382,0.871900,0.004644,0.002882,0.000030,0.008680,...,1,13,O,1,13,1.0,1,13,6.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458908,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,0.848750,0.041969,0.730505,0.895553,0.844229,0.119236,0.195278,0.002237,0.589866,...,1,13,U,1,13,1.0,1,13,6.0,1
458909,ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fd...,0.859327,0.012425,0.831279,0.868121,0.831279,0.066421,0.123937,0.007327,0.478106,...,1,13,R,1,0,NaN,0,13,6.0,1
458910,ffff9984b999fccb2b6127635ed0736dda94e544e67e02...,0.786838,0.014312,0.756983,0.802953,0.800522,0.221548,0.182743,0.000223,0.536278,...,1,13,U,1,0,NaN,0,13,5.0,1
458911,ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...,0.804454,0.037442,0.754129,0.856981,0.754129,0.030878,0.081779,0.001332,0.300991,...,1,13,U,2,0,NaN,0,13,3.0,2
458912,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,0.983617,0.012879,0.965709,1.005768,0.982175,0.290399,0.176725,0.002230,0.563736,...,1,13,O,2,0,NaN,0,13,5.0,2

In [14]:
data_w_labels = data_transformed.merge(data_labels, how = 'inner', on='customer_ID')

In [15]:
#preview data
data_w_labels

,customer_ID,P_2_mean,P_2_std,P_2_min,P_2_max,P_2_last,D_39_mean,D_39_std,D_39_min,D_39_max,...,D_64_count,D_64_last,D_64_nunique,D_66_count,D_66_last,D_66_nunique,D_68_count,D_68_last,D_68_nunique,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.933824,0.024194,0.868580,0.960384,0.934745,0.010704,0.024444,0.001082,0.091505,...,13,O,1,0,NaN,0,13,6.0,1,0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.899820,0.022119,0.861109,0.929122,0.880519,0.215205,0.199150,0.002224,0.567403,...,13,O,1,0,NaN,0,13,6.0,1,0
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,0.878454,0.028911,0.797670,0.904482,0.880875,0.004181,0.002758,0.000802,0.009704,...,13,R,1,0,NaN,0,13,6.0,1,0
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,0.598969,0.020108,0.567442,0.623392,0.621776,0.048862,0.088466,0.000660,0.268476,...,13,O,1,0,NaN,0,13,3.0,3,0
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,0.891679,0.042325,0.805045,0.940382,0.871900,0.004644,0.002882,0.000030,0.008680,...,13,O,1,13,1.0,1,13,6.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458908,ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...,0.848750,0.041969,0.730505,0.895553,0.844229,0.119236,0.195278,0.002237,0.589866,...,13,U,1,13,1.0,1,13,6.0,1,0
458909,ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fd...,0.859327,0.012425,0.831279,0.868121,0.831279,0.066421,0.123937,0.007327,0.478106,...,13,R,1,0,NaN,0,13,6.0,1,0
458910,ffff9984b999fccb2b6127635ed0736dda94e544e67e02...,0.786838,0.014312,0.756983,0.802953,0.800522,0.221548,0.182743,0.000223,0.536278,...,13,U,1,0,NaN,0,13,5.0,1,0
458911,ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...,0.804454,0.037442,0.754129,0.856981,0.754129,0.030878,0.081779,0.001332,0.300991,...,13,U,2,0,NaN,0,13,3.0,2,1
458912,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,0.983617,0.012879,0.965709,1.005768,0.982175,0.290399,0.176725,0.002230,0.563736,...,13,O,2,0,NaN,0,13,5.0,2,0

### DATA VALIDATION

In [16]:
dvs = data_validation_service(data_w_labels)

In [17]:
# drop columns with a null percentage greater than 5%
dvs.get_columns_with_null_percentage()
columns_to_drop = dvs.get_columns_where_null_percent_exceeds(.05)
dvs.drop_columns(columns_to_drop)

In [18]:
#quick look 
dvs.df.head()

,customer_ID,P_2_mean,P_2_std,P_2_min,P_2_max,P_2_last,D_39_mean,D_39_std,D_39_min,D_39_max,...,D_63_nunique,D_64_count,D_64_last,D_64_nunique,D_66_count,D_66_nunique,D_68_count,D_68_last,D_68_nunique,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.933824,0.024194,0.868580,0.960384,0.934745,0.010704,0.024444,0.001082,0.091505,...,1,13,O,1,0,0,13,6.0,1,0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.899820,0.022119,0.861109,0.929122,0.880519,0.215205,0.199150,0.002224,0.567403,...,1,13,O,1,0,0,13,6.0,1,0
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,0.878454,0.028911,0.797670,0.904482,0.880875,0.004181,0.002758,0.000802,0.009704,...,1,13,R,1,0,0,13,6.0,1,0
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,0.598969,0.020108,0.567442,0.623392,0.621776,0.048862,0.088466,0.000660,0.268476,...,1,13,O,1,0,0,13,3.0,3,0
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,0.891679,0.042325,0.805045,0.940382,0.871900,0.004644,0.002882,0.000030,0.008680,...,1,13,O,1,13,1,13,6.0,1,0

In [19]:
#check out columns of string type
dvs.get_string_columns()

['customer_ID', 'D_63_last', 'D_64_last']

In [20]:
# check out unique values within string columns to check for inconsistency
for col in ['D_63_last', 'D_64_last']:
    print(col, data_w_labels[col].unique())

D_63_last ['CR' 'CO' 'CL' 'XL' 'XZ' 'XM']
D_64_last ['O' 'R' 'U' nan '-1']

In [21]:
# check null percentage of D_64_last
dvs.column_null_percentage_dict['D_64_last']

0.01150326968292465

In [22]:
# transform D_64_last = -1 value to 'E' for empty 
def transform_neg_1_to_e(value):
    if value == '-1':
        return 'E'
    else:
        return value
dvs.df['D_64_last'] = dvs.df['D_64_last'].apply(transform_neg_1_to_e)

In [23]:
#recheck table
dvs.df['D_64_last'].unique()

array(['O', 'R', 'U', nan, 'E'], dtype=object)

In [24]:
# drop rows with empty values
data_w_labels = dvs.df
data_w_labels = data_w_labels.dropna(axis=0)

In [25]:
# persist data_w_labels for future use
import pickle 

def save_object(python_object, file_name):
    file_object_name = file_name + '.obj'
    file_object = open(file_object_name, 'wb')
    pickle.dump(python_object, file_object)
    file_object.close()
    
save_object(data_w_labels, 'american_express_data_w_labels')